NautilusWindow * {
    -GtkPaned-handle-size: 1;
}

NautilusDesktopWindow GtkWidget {
    background-color: @transparent;
}

.nautilus-canvas-item {
    border-radius: 4px;
}

/* desktop mode */
.nautilus-desktop.nautilus-canvas-item {
    color: @bg_color;
    text-shadow: 1px 1px alpha (#000000, 0.8);
}

.nautilus-desktop.nautilus-canvas-item:active {
    background-image: none;
    background-color: alpha (@bg_color, 0.84);

    color: @fg_color;
}

.nautilus-desktop.nautilus-canvas-item:selected {
    background-image: none;
    background-color: alpha (@selected_bg_color, 0.84);

    color: @selected_fg_color;
}

.nautilus-desktop.nautilus-canvas-item:active,
.nautilus-desktop.nautilus-canvas-item:prelight,
.nautilus-desktop.nautilus-canvas-item:selected {
    text-shadow: none;
}
